<div class="card-item" [ngClass]="educationLevel()" [attr.alt]="suportText()">

    <div class="card-item__icon">
        <app-icon name="{{ icon() }}" educationLevel="{{ educationLevel() }}" />
    </div>

    <div class="card-item__info">
        @if (educationLevel() !== 'EI') {
            <h2>{{ title() }}</h2>
        }

        @defer(when suportText()) {
            @if (educationLevel() === 'EM' || educationLevel() === 'SUP') {
            <p>{{ suportText() }}</p>
            }
        }
    </div>

</div>